/* slot-machine.component.css */

.slot-machine-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.slot-machine {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
}

.slot-number {
  position: absolute;
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  transition: transform 3s ease-out;
}

.button-spacing {
  margin: 10px 0; /* Adiciona 10px de margem acima e abaixo dos botões */
}

.correct-answer {
  background-color: green;
  color: white;
}

.wrong-answer {
  background-color: red;
  color: white;
}


.custom-button {
  background-color: #22ff2d; /* Cor de fundo personalizada */
  color: green; /* Cor do texto */
  border-radius: 4px; /* Radius da borda */
}

/* modal.component.css */

/* Organizando as respostas em 2 colunas */
.answers-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas de tamanhos iguais */
  gap: 16px; /* Espaçamento entre os botões */
}

.option-button {
  padding: 10px;
  text-align: center;
  background-color: #2196f3; /* Cor do botão */
  color: white;
  font-weight: bold;
  border-radius: 8px;
}

.option-button:hover {
  background-color: #1976d2; /* Cor do botão ao passar o mouse */
}

.mat-dialog-container {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%; /* Aumenta a largura da modal em relação à tela */
  max-width: 800px; /* Define um limite máximo de largura */
}

.openQuestionModal {
  max-width: 90%;  /* Limita a largura máxima da modal a 90% da tela */
  width: 100%;     /* Ocupará até 100% do container pai */
  border-radius: 12px; /* Bordas suaves com 12px de raio */
  padding: 16px;  /* Adiciona espaçamento interno para o conteúdo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra para destacar a modal */
}

/* Estilos para telas maiores */
@media (min-width: 768px) {
  .openQuestionModal {
    width: 600px; /* Define uma largura fixa em telas maiores */
  }
}

/* Estilos para telas muito grandes */
@media (min-width: 1024px) {
  .openQuestionModal {
    width: 800px; /* Aumenta a largura em telas maiores */
  }
}